body {
	background:black;
	font-family:verdana, arial, sans-serif;
}

.hide {display:none !important}

.container {
	background:url("../images/table-bg.jpg") no-repeat 0 0;
	border:2px solid #f6e09f;
	height:580px;
	left:50%;
	margin-left:-400px;
	margin-top:-300px;
	position:absolute;
	padding:10px;
	top:50%;
	width:780px;
}

.player-cards {
	left:350px;
	padding-left:51px;
	position:absolute;
	top:216px;
}

.dealer-cards {
	position:absolute;
	left:350px;
	top:16px;
	padding-left:51px;
}

.card {
	background:url("../images/cards.gif") no-repeat 0 -469px;
	float:left;
	height:118px;
	margin-left:-51px;
	width:81px;
}

.card-2h {background-position: 0 0}
.card-2d {background-position: 0 -117px}
.card-2c {background-position: 0 -234px}
.card-2s {background-position: 0 -352px}
.card-3h {background-position: -81px 0}
.card-3d {background-position: -81px -117px}
.card-3c {background-position: -81px -234px}
.card-3s {background-position: -81px -352px}
.card-4h {background-position: -162px 0}
.card-4d {background-position: -162px -117px}
.card-4c {background-position: -162px -234px}
.card-4s {background-position: -162px -352px}
.card-5h {background-position: -243px 0}
.card-5d {background-position: -243px -117px}
.card-5c {background-position: -243px -234px}
.card-5s {background-position: -243px -352px}
.card-6h {background-position: -324px 0}
.card-6d {background-position: -324px -117px}
.card-6c {background-position: -324px -234px}
.card-6s {background-position: -324px -352px}
.card-7h {background-position: -405px 0}
.card-7d {background-position: -405px -117px}
.card-7c {background-position: -405px -234px}
.card-7s {background-position: -405px -352px}
.card-8h {background-position: -486px 0}
.card-8d {background-position: -486px -117px}
.card-8c {background-position: -486px -234px}
.card-8s {background-position: -486px -352px}
.card-9h {background-position: -567px 0}
.card-9d {background-position: -567px -117px}
.card-9c {background-position: -567px -234px}
.card-9s {background-position: -567px -352px}
.card-10h {background-position: -648px 0}
.card-10d {background-position: -648px -117px}
.card-10c {background-position: -648px -234px}
.card-10s {background-position: -648px -352px}
.card-jh {background-position: -729px 0}
.card-jd {background-position: -729px -117px}
.card-jc {background-position: -729px -234px}
.card-js {background-position: -729px -352px}
.card-qh {background-position: -810px 0}
.card-qd {background-position: -810px -117px}
.card-qc {background-position: -810px -234px}
.card-qs {background-position: -810px -352px}
.card-kh {background-position: -891px 0}
.card-kd {background-position: -891px -117px}
.card-kc {background-position: -891px -234px}
.card-ks {background-position: -891px -352px}
.card-ah {background-position: -972px 0}
.card-ad {background-position: -972px -117px}
.card-ac {background-position: -972px -234px}
.card-as {background-position: -972px -352px}

.overturn {background-position:0 -469px !important}

button {cursor:pointer;}

.score {
	background:red;
	border:1px solid black;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	padding:2px 4px;
	position:absolute;
	text-align:center;
	text-shadow: 1px 1px 2px #000;
	width:20px;
}

.player-score {
	left:320px;
	top:216px;
}

.dealer-score {
	left:320px;
	top:16px;
}

.scoreboard {
	bottom:0;
	color:#fff;
	font-size:12px;
	height:58px;
	left:0;
	position:absolute;
	text-align:right;
	width:184px;
}

.player-bet {
	position:absolute;
	bottom:33px;
	right:14px;
}

.player-balance {
	bottom:8px;
	right:14px;
	position:absolute;
}

.chip {
	background:transparent url(../images/sprites-pokerchips.png) no-repeat 0 0;
	border:none;
	height:66px;
	outline:0;
	text-indent:-99999px;
	position:absolute;
	width:66px;
}

.chip-500 {background-position:-264px 0}
.btn-chip.chip-500 {left:722px;	top:401px}
.btn-chip.chip-500:hover {background-position:-264px -66px}

.chip-100 {background-position:-198px 0}
.btn-chip.chip-100 {left:669px;	top:422px}
.btn-chip.chip-100:hover {background-position:-198px -66px}

.chip-25 {background-position:-132px 0}
.btn-chip.chip-25 {left:615px; top:438px}
.btn-chip.chip-25:hover {background-position:-132px -66px}

.chip-5 {background-position:-66px 0}
.btn-chip.chip-5 {left:561px;	top:450px}
.btn-chip.chip-5:hover {background-position:-66px -66px}

.chip-clear {background-position:0 0}
.btn-chip.chip-clear {left:507px;	top:459px}
.chip-clear:hover {background-position:0 -66px}

.btn-round {
	background:transparent url(../images/sprites-buttons.png) no-repeat 0 0;
	border:0;
	height:94px;
	outline:0;
	position:absolute;
	text-indent: -9999px;
	width:94px;
}

.btn-deal {
	background-position:-282px 0;
	left:353px;
	top:478px;
}

.btn-deal:hover {background-position:-282px -94px}

.btn-hit {
	background-position:0 0;
	left:353px;
	top:478px;
}

.btn-hit:hover {background-position:0 -94px}

.btn-hold {
	background-position:-94px 0;
	left:438px;
	top:474px;
}

.btn-hold:hover {background-position:-94px -94px}

.btn-bet {
	background-position:-188px 0;	
	left:353px;
	top:478px;
}

.btn-bet:hover {background-position:-188px -94px}

.player-bet-area {
	height:100px;
	left:350px;
	position:absolute;
	top:360px;
	width:100px;
}

.player-bet-area .chip {
	bottom:0;
	left:16px;
	position:absolute;
}

.status-display-wrap {
	left:50%;
	position:absolute;
}

.status-display {
	background:#d5b676;
	border-radius:10px;
	border:5px solid #f6e09f;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
	color:#3c290b;
	display:inline-block;
	font-size:18px;
	font-weight:bold;
	left:-50%;
	padding:10px 20px;
	position:relative;
	text-shadow:0px 1px #fff;
	text-align:center;
	top:260px;
	z-index:100;
}

.place-your-bets {
	background:url(../images/place-your-bets.png) no-repeat 0 0;
	height:199px;
	left:27px;
	position:absolute;
	top:86px;
	width:745px;
	z-index:101;
}