body {
	background:black;
	font-family:verdana, arial, sans-serif;
}

.container {
	position:absolute;
	padding:10px;
	width:780px;
	height:580px;
	top:50%;
	left:50%;
	margin-top:-290px;
	margin-left:-390px;
	background:green url("../images/table-bg.jpg") no-repeat 0 0;
	border:2px solid #f6e09f;
}

.card {
	background:url("../images/cards.gif") no-repeat 0 -469px;
	height:118px;
	position:absolute;
	text-shadow:0 1px 0 #fff; font:bold 14px verdana, arial, sans-serif; /* to display card name */
	width:81px;
}

.card-2h {background-position: 0 0}
.card-2d {background-position: 0 -117px}
.card-2c {background-position: 0 -234px}
.card-2s {background-position: 0 -352px}
.card-3h {background-position: -81px 0}
.card-3d {background-position: -81px -117px}
.card-3c {background-position: -81px -234px}
.card-3s {background-position: -81px -352px}
.card-4h {background-position: -162px 0}
.card-4d {background-position: -162px -117px}
.card-4c {background-position: -162px -234px}
.card-4s {background-position: -162px -352px}
.card-5h {background-position: -243px 0}
.card-5d {background-position: -243px -117px}
.card-5c {background-position: -243px -234px}
.card-5s {background-position: -243px -352px}
.card-6h {background-position: -324px 0}
.card-6d {background-position: -324px -117px}
.card-6c {background-position: -324px -234px}
.card-6s {background-position: -324px -352px}
.card-7h {background-position: -405px 0}
.card-7d {background-position: -405px -117px}
.card-7c {background-position: -405px -234px}
.card-7s {background-position: -405px -352px}
.card-8h {background-position: -486px 0}
.card-8d {background-position: -486px -117px}
.card-8c {background-position: -486px -234px}
.card-8s {background-position: -486px -352px}
.card-9h {background-position: -567px 0}
.card-9d {background-position: -567px -117px}
.card-9c {background-position: -567px -234px}
.card-9s {background-position: -567px -352px}
.card-10h {background-position: -648px 0}
.card-10d {background-position: -648px -117px}
.card-10c {background-position: -648px -234px}
.card-10s {background-position: -648px -352px}
.card-jh {background-position: -729px 0}
.card-jd {background-position: -729px -117px}
.card-jc {background-position: -729px -234px}
.card-js {background-position: -729px -352px}
.card-qh {background-position: -810px 0}
.card-qd {background-position: -810px -117px}
.card-qc {background-position: -810px -234px}
.card-qs {background-position: -810px -352px}
.card-kh {background-position: -891px 0}
.card-kd {background-position: -891px -117px}
.card-kc {background-position: -891px -234px}
.card-ks {background-position: -891px -352px}
.card-ah {background-position: -972px 0}
.card-ad {background-position: -972px -117px}
.card-ac {background-position: -972px -234px}
.card-as {background-position: -972px -352px}

.overturn {background-position:0 -469px !important}

#playerCard1 {left:350px; top:216px}
#playerCard2 {left:380px; top:216px}
#playerCard3 {left:410px; top:216px}
#playerCard4 {left:440px; top:216px}
#playerCard5 {left:470px; top:216px}
#playerCard6 {left:500px; top:216px}

#dealerCard1 {left:350px; top:16px}
#dealerCard2 {left:380px; top:16px}
#dealerCard3 {left:410px; top:16px}
#dealerCard4 {left:440px; top:16px}
#dealerCard5 {left:470px; top:16px}
#dealerCard6 {left:500px; top:16px}

button {cursor:pointer;}
#hit {background:#9f8;}
#hold {background:orange;}

#playerScore,
#dealerScore {color:#fff; font-size:15px; text-shadow: 1px 1px 2px #000;}

#playerScore span,
#dealerScore span {color:yellow; font-weight: bold}