body {
	background:black;
	font-family:verdana, arial, sans-serif;
}

.hide {display:none};
.invisible {visibility: hidden}

.container {
	position:absolute;
	padding:10px;
	width:780px;
	height:580px;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-400px;
	background:url("../images/table-bg.jpg") no-repeat 0 0;
	border:2px solid #f6e09f;
}

#playerCards {
	position:absolute;
	left:350px;
	top:216px;
	padding-left:51px;
}

#dealerCards {
	position:absolute;
	left:350px;
	top:16px;
	padding-left:51px;
}

.card {
	background:url("../images/cards.gif") no-repeat 0 -469px;
	height:118px;
	float:left;
	margin-left:-51px;
	width:81px;
}

.card-2h {background-position: 0 0}
.card-2d {background-position: 0 -117px}
.card-2c {background-position: 0 -234px}
.card-2s {background-position: 0 -352px}
.card-3h {background-position: -81px 0}
.card-3d {background-position: -81px -117px}
.card-3c {background-position: -81px -234px}
.card-3s {background-position: -81px -352px}
.card-4h {background-position: -162px 0}
.card-4d {background-position: -162px -117px}
.card-4c {background-position: -162px -234px}
.card-4s {background-position: -162px -352px}
.card-5h {background-position: -243px 0}
.card-5d {background-position: -243px -117px}
.card-5c {background-position: -243px -234px}
.card-5s {background-position: -243px -352px}
.card-6h {background-position: -324px 0}
.card-6d {background-position: -324px -117px}
.card-6c {background-position: -324px -234px}
.card-6s {background-position: -324px -352px}
.card-7h {background-position: -405px 0}
.card-7d {background-position: -405px -117px}
.card-7c {background-position: -405px -234px}
.card-7s {background-position: -405px -352px}
.card-8h {background-position: -486px 0}
.card-8d {background-position: -486px -117px}
.card-8c {background-position: -486px -234px}
.card-8s {background-position: -486px -352px}
.card-9h {background-position: -567px 0}
.card-9d {background-position: -567px -117px}
.card-9c {background-position: -567px -234px}
.card-9s {background-position: -567px -352px}
.card-10h {background-position: -648px 0}
.card-10d {background-position: -648px -117px}
.card-10c {background-position: -648px -234px}
.card-10s {background-position: -648px -352px}
.card-jh {background-position: -729px 0}
.card-jd {background-position: -729px -117px}
.card-jc {background-position: -729px -234px}
.card-js {background-position: -729px -352px}
.card-qh {background-position: -810px 0}
.card-qd {background-position: -810px -117px}
.card-qc {background-position: -810px -234px}
.card-qs {background-position: -810px -352px}
.card-kh {background-position: -891px 0}
.card-kd {background-position: -891px -117px}
.card-kc {background-position: -891px -234px}
.card-ks {background-position: -891px -352px}
.card-ah {background-position: -972px 0}
.card-ad {background-position: -972px -117px}
.card-ac {background-position: -972px -234px}
.card-as {background-position: -972px -352px}

.overturn {background-position:0 -469px !important}

button {cursor:pointer;}

#playerScore,
#dealerScore {
	position:absolute;
	text-align:center;
	width:20px;
	font-weight:bold;
	font-size:12px;
	padding:2px 4px;
	color:#fff;
	text-shadow: 1px 1px 2px #000;
	border:1px solid black;
	background:red;
}

#playerScore {
	left:320px;
	top:216px;
}

#dealerScore {
	left:320px;
	top:16px;
}

#status {color:yellow; font-weight: bold}

.scoreboard {
	color:#fff;
	font-size:12px;
	position:absolute;
	bottom:0;
	left:0;
	width:184px;
	height:58px;
	text-align:right;
}

.player-bet {
	position:absolute;
	bottom:33px;
	right:14px;
}

.player-balance {
	position:absolute;
	bottom:8px;
	right:14px;
}

.chip {
	width:66px;
	height:66px;
	border:none;
	outline:0;
	text-indent:-99999px;
	position:absolute;
	background-color:transparent;
	background-image:url(../images/sprites-pokerchips.png);
}

.chip-500 {
	left:722px;
	top:401px;
	background-position:-264px 0;
}

.chip-500:hover {background-position:-264px -66px}

.chip-100 {
	left:669px;
	top:422px;
	background-position:-198px 0;
}

.chip-100:hover {background-position:-198px -66px}

.chip-25 {
	left:615px;
	top:438px;
	background-position:-132px 0;
}

.chip-25:hover {background-position:-132px -66px}

.chip-5 {
	left:561px;
	top:450px;
	background-position:-66px 0;
}

.chip-5:hover {background-position:-66px -66px}

.chip-clear {
	left:507px;
	top:459px;
	background-position:0 0;
}

.chip-clear:hover {background-position:0 -66px}

.btn-round {
	width:94px;
	height:94px;
	border:0;
	outline:0;
	text-indent: -9999px;
	position:absolute;
	background-image:url(../images/sprites-buttons.png);
	background-color:transparent;
	background-repeat: no-repeat;
}

.btn-deal {
	left:353px;
	top:478px;
	background-position:-282px 0;
}

.btn-deal:hover {background-position:-282px -94px}

.btn-hit {
	left:353px;
	top:478px;
	background-position:0 0;
}

.btn-hit:hover {background-position:0 -94px}

.btn-hold {
	left:438px;
	top:474px;
	background-position:-94px 0;
}

.btn-hold:hover {background-position:-94px -94px}

.btn-bet {
	left:353px;
	top:478px;
	background-position:-188px 0;	
}

.btn-bet:hover {background-position:-188px -94px}